.dashboard-columns {
  margin: 0 -5px;
  overflow: hidden;
}

.dashboard-column {
  box-sizing: border-box;
  float: left;
  padding: 0 5px;
}

.dashboard-columns {
  transition: transform 0.2s ease-out;

  .widget {
    margin-bottom:0;
    display:block;
    > h1 {
      cursor: move;
    }
  }

  .dashboard-widget {
    margin-bottom: 10px;
  }

  &.dashboard-editable {
    transform: translate(14%);
    max-width: 80%;

    .dashboard-widget {
      border: 2px dashed gray;
    }

    .widget {
      height: 200px;
      overflow: hidden;
      position:relative;

      .widget-overlay {
        position:absolute;
        left: 0;
        top: 40px;
        z-index: 1;
        width:100%;
        height:100%;
        background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.9) 100%);
      }

      &.drag-active {
        opacity: 0.6;
      }

      &.widget-ghost {
        background: gray;
      }
    }

    .dashboard-add-widget .widget {
      background:none;
      position:relative;
      &:before {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '+';
        font-size:100px;
      }
    }
  }
}
