@-dashboard-button-size : 32px;
@-dashboard-widget-border: darken(white, 28%);
@-dashboard-add-button-bg: darken(white, 28%);
@-dashboard-widget-margin: 12px;
@-widget-size-reduction: (@-dashboard-button-size * 2) + (@-dashboard-widget-margin * 2);

.dashboard-columns {
  margin: 0 -5px;
  overflow: hidden;
  display: flex;
}

.dashboard-column {
  box-sizing: border-box;
  float: left;
  padding: 0 5px;
}

.dashboard-columns {
  transition: transform 0.2s ease-out;

  .widget {
    margin-bottom:0;
    display:block;
    > h1 {
      cursor: move;
    }
  }

  .widget-remove {
    .popup-closeButton;
  }

  .dashboard-widget {
    margin-bottom: 10px;
  }

  &.dashboard-editable {

    .dashboard-widget {
      &:hover {
        //transform: scale(0.9);
        .widget {
          margin-left: @-dashboard-button-size;
          margin-top: @-dashboard-button-size;
        }
        .dashboard-addWidgetButton {
          &:first-of-type {
            top: -@-dashboard-button-size;
          }
        }
        .dashboard-addWidgetButton, .dashboard-addColumnButton {
          display: block;
        }
      }
    }

    .widget {
      height: 200px;
      overflow: hidden;
      position:relative;
      white-space:nowrap;
      //width: calc(~'100% - ' @-widget-size-reduction);
      //display:inline-block;
      display: block;
      border: 2px dashed @-dashboard-widget-border;

      > *:not(h1) {
        opacity: 0.5;
        pointer-events: none;
      }

//      .widget-overlay {
//        position:absolute;
//        left: 0;
//        top: 40px;
//        z-index: 1;
//        width:100%;
//        height:100%;
//        background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.9) 100%);
//      }

      &.drag-active {
        opacity: 0.6;
      }

      &.widget-ghost {
        background: gray;
        margin-bottom: 10px;
      }

      .widgetControls a.action {
        display:none;
      }
    }

    .dashboard-addColumnButton, .dashboard-addWidgetButton {
      position:absolute;
      background: @-dashboard-add-button-bg;
      display: none;
      &:before {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '+';
        font-size: 32px;
        line-height: 32px;
        text-decoration: none !important;
      }
    }

    .dashboard-addWidgetButton {
      height: @-dashboard-button-size;
      width: 100%;
      &:first-of-type {
        top: 0;
      }
      &:last-of-type {
        bottom: 0;
      }
    }

    .dashboard-addColumnButton {
      height: 200px;
      width: @-dashboard-button-size;
      &:nth-child(2) {
        left: 0;
        top: 0;
      }
      &:nth-child(4) {
        right: 0;
        top: 0;
      }
    }
  }
}
